{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Sklep Vinyllo</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo">
                <img src="{% static 'img/vinyl.png'%}" alt="">
            </div>
        </a>
        <div class="store_name">
            <a href="/">
                <h1>🎵Vinyllo🎵</h1>
            </a>
        </div>
        <div class="menus">
            <form method="POST" action="{% url 'search' %}" role="search">
                {% csrf_token %}
                <input type="text" name="searchbar"></input>
                <button type="submit">Wyszukaj</button>
            </form>
            {% if user.is_superuser %}
                <a href="/adminPanel">Panel Admina</a>
            {% endif %}
            <a href="/vinyls">Lista dostępnych winyli</a>
        </div>
    </div>
    <div class="mainPanel">
        <h2>
            <a href="/salesStats/">Statystyki Sprzedaży</a>
        </h2>
        <div class="formPanel">
            <h2>Dodaj Płytę</h2>
            <form action="/addVinyl/" method="GET">
                <input type="text" name="title" placeholder="Tytuł">
                <br>
                <input type="text" name="artist" placeholder="Wykonawca">
                <br>
                <input type="text" name="genre" placeholder="Gatunek">
                <br>
                <input type="textarea" name="description" placeholder="Opis">
                <br>
                <input type="text" name="url" placeholder="Link do okładki">
                <br>
                <input type="number" name="price" placeholder="Cena">
                <br>
                <button type="submit">Potwierdź</button>
            </form>
        </div>
        <div class="formPanel">
            <h2>Zarejestruj dostawę</h2>
            <form action="/addDelivery/" method="GET">
                <input type="text" name="title" placeholder="Tytuł">
                <br>
                <input type="text" name="artist" placeholder="Wykonawca">
                <br>
                <input type="number" name="units" placeholder="Liczba sztuk">
                <br>
                <button type="submit">Potwierdź</button>
            </form>
        </div>
    </div>
    <div class="stopka">
        <p>Kontakt</p>
        <p>Telefon: 123 456 789</p>
        <p>Adres mailowy: vinyllo@music.com</p>
    </div>
</body>
</html>
