{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link rel="stylesheet" href="{% static 'stylesVinylList.css'%}">
    <title>Lista winyli</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo">
                <img src="{% static 'img/vinyl.png'%}" alt="">
            </div>
        </a>
        <a href="/">
            <h1>🎵Vinyllo🎵</h1>
        </a>
        <div class="menus">
            <form method="POST" action="{% url 'search' %}" role="search">
                {% csrf_token %}
                <input type="text" name="searchbar"></input>
                <button type="submit">Wyszukaj</button>
            </form>
            <a href="/vinyls">Lista dostępnych winyli</a>
            <a href="/adminPanel">Panel Admina</a>
        </div>
    </div>
    <div class="mainPanel">
        <h1>Lista winyli</h1>
        <div class="sort_filter">
            <form method="GET" action="/vinyls">
                <div id="form_title">Sortuj według:</div>
                <input class="sortbt" type="submit" name="price_desc" value="Cena: malejąco"></input><br>
                <input class="sortbt" type="submit" name="price_asc" value="Cena: rosnąco"></input><br>
                <input class="sortbt" type="submit" name="title" value="Tytuł: alfabetycznie"></input><br>
                <input class="sortbt" type="submit" name="artist" value="Wykonawca: alfabetycznie"></input><br>
                <div id="form_title">Filtruj według:</div>
                Gatunek:<br>
                <input type="checkbox" name="genres" value="Rock" checked>Rock</input><br>
                <input type="checkbox" name="genres" value="Rap/Hip-Hop" checked>Rap/Hip-Hop</input><br>
                <input type="checkbox" name="genres" value="Jazz" checked>Jazz</input><br>
                <input type="checkbox" name="genres" value="Pop" checked>Pop</input><br>
                <input type="checkbox" name="genres" value="Post-Punk" checked>Post-Punk</input><br>
                <input type="checkbox" name="genres" value="Post-Rock" checked>Post-Rock</input><br>
                <input type="checkbox" name="genres" value="Shoegaze" checked>Shoegaze</input><br>
                <input type="checkbox" name="genres" value="Metal" checked>Metal</input><br>
                <button type="submit">Filtruj bez sortowania</button>
            </form>
        </div>
        <div class="vinylPanel">
            {% for vinyl in vinyls %}
            <div class="vinylContainer">
              <img class="vinyl" src="{% static 'img/'|add:vinyl.url %}" alt="{{ vinyl.title }}">
                <div class="infoPanel">
                  <p>Tytuł: {{vinyl.title}}</p>
                  <p>Wykonawca: {{vinyl.artist}}</p>
                  <p>Gatunek: {{vinyl.genre}}</p>
                  <p>Opis: {{vinyl.description}}</p>
                  <p>Cena: {{vinyl.price}} zł</p>
                  <p>Ilość dostępnych sztuk: {{vinyl | get_units}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="stopka">
      <p>Kontakt</p>
      <p>Telefon: 123 456 789</p>
      <p>Adres mailowy: vinyllo@music.com</p>
  </div>
</body>
</html>
