{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Sklep Vinyllo</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo">
                <img src="{% static 'img/vinyl.png'%}" alt="">
            </div>
        </a>
        <div class="store_name">
            <a href="/">
                <h1>🎵Vinyllo🎵</h1>
            </a>
        </div>
        <div class="menus">
            <form method="POST" action="{% url 'search' %}" role="search">
                {% csrf_token %}
                <input type="text" name="searchbar"></input>
                <button type="submit">Wyszukaj</button>
            </form>
            {% if user.is_superuser %}
                <a href="/adminPanel">Panel Admina</a>
            {% endif %}
            <a href="/vinyls">Lista dostępnych winyli</a>
        </div>
    </div>
    <div class="mainPanel">
        {% if vinyl %}
            {% if vinyl.is_available %}
                <h1>Kup winyl</h1>
                <div class="vinylContainer">
                    <div class="vinyl_title">{{ vinyl.title }}</div>
                    <p class="vinyl_artist">{{ vinyl.artist }}</p>
                    <p class="vinyl_price">{{ vinyl.price }} zł</p>
                    <p class="vinyl_price">Ilość dostępnych sztuk: {{vinyl | get_units}}</p>
                    <img class="vinyl" src="{% static 'img/'|add:vinyl.url %}" alt="{{ vinyl.title }}">
                </div>
                <div class="formPanel">
                    <h2>Szczegóły transakcji</h2>
                    <form action="/purchased/" method="GET">
                        <input type="checkbox" name="buy" value={{ vinyl.vinylid }} style="display: none;" checked>
                        <input type="text" name="firstname" placeholder="Imię">
                        <br>
                        <input type="text" name="lastname" placeholder="Nazwisko">
                        <br>
                        <input type="text" name="mail" placeholder="mail">
                        <br>
                        <input type="password" name="password" placeholder="hasło (8 - 30 znaków)" minlength="8" maxlength="30">
                        <br>
                        <input type="number" name="quantity" placeholder="Liczba egzemplarzy" min="1" max="{{vinyl | get_units }}">
                        <br>
                        <button type="submit">Potwierdź</button>
                    </form>
                </div>
            {% else %}
                <h1>Przepraszamy, ten produkt jest już niedostępny</h1>
                <a href="/">Powrót na stronę główną</a>
            {% endif %}
        {% else %}
            <h1>Wystąpił błąd</h1>
        {% endif %}
    </div>
    <div class="stopka">
        <p>Kontakt</p>
        <p>Telefon: 123 456 789</p>
        <p>Adres mailowy: vinyllo@music.com</p>
    </div>
</body>
</html>