{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Sklep Vinyllo</title>
</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo">
                <img src="{% static 'img/vinyl.png'%}" alt="">
            </div>
        </a>
        <div class="store_name">
            <a href="/">
                <h1>🎵Vinyllo🎵</h1>
            </a>
        </div>
        <div class="menus">
            <form method="POST" action="{% url 'search' %}" role="search">
                {% csrf_token %}
                <input type="text" name="searchbar"></input>
                <button type="submit">Wyszukaj</button>
            </form>
            {% if user.is_superuser %}
                <a href="/adminPanel">Panel Admina</a>
            {% endif %}
            <a href="/vinyls">Lista dostępnych winyli</a>
        </div>
    </div>
    <div class="mainPanel">
        {% if vinyl %}
            <h1>Gratulujemy zakupu!</h1>
            <p>{{text}}</p>
        {% elif text %}
            <h1>{{text}}</h1>
        {% else %}
            <h1>Coś poszło nie tak</h1>
        {% endif %}
            <a href='/'>powrót na stronę główną</a>
    </div>
    <div class="stopka">
        <p>Kontakt</p>
        <p>Telefon: 123 456 789</p>
        <p>Adres mailowy: vinyllo@music.com</p>
    </div>
</body>
</html>